<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        <!--把对象创建交给spring-->
    <bean id="accountService" class="xkamjn.service.impl.AccountServiceImpl">

    </bean>

    <bean id = "accountDao" class="xkamjn.dao.impl.AccountDaoImpl">

    </bean>

    <bean id="bookService" class="zzjn.service.impl.BookServiceImpl">

        <constructor-arg index="0" value="mjn"/>
        <constructor-arg index="1" value="18"/>
        <constructor-arg index="2" ref="date"/>
    </bean>

    <bean id="bookService2" class="zzjn.service.impl.BookServiceImpl2">

        <property name="name" value="zzjn"></property>
        <property name="age" value="18"></property>
        <property name="birthday" ref="date"></property>
    </bean>
    <bean id="date" class="java.util.Date">

    </bean>
</beans>